apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://github.com/kyverno/kyverno/releases/download/v1.10.0/install.yaml
  - policies.yaml

patches:
  - target:
      kind: CronJob
      name: kyverno-cleanup-admission-reports
      namespace: kyverno
    patch: |-
      - op: replace
        path: /spec/jobTemplate/spec/template/spec/containers/0/image
        value: alpine:3.19
      - op: replace
        path: /spec/jobTemplate/spec/template/spec/containers/0/command/2
        value: |
          wget -qO /tmp/kubectl https://dl.k8s.io/release/v1.28.2/bin/linux/amd64/kubectl && \
          chmod +x /tmp/kubectl && \
          export PATH=/tmp:$PATH && \
          COUNT=$(kubectl get admissionreports.kyverno.io -A | wc -l)
          if [ "$COUNT" -gt 10000 ]; then
            echo "too many reports found ($COUNT), cleaning up..."
            kubectl delete admissionreports.kyverno.io -A -l='!audit.kyverno.io/report.aggregate'
          else
            echo "($COUNT) reports found, no clean up needed"
          fi
      - op: add
        path: /spec/jobTemplate/spec/template/spec/containers/0/securityContext/runAsUser
        value: 65534
      - op: add
        path: /spec/jobTemplate/spec/template/spec/volumes
        value:
          - name: tmp
            emptyDir: {}
      - op: add
        path: /spec/jobTemplate/spec/template/spec/containers/0/volumeMounts
        value:
          - mountPath: /tmp
            name: tmp
  - target:
      kind: CronJob
      name: kyverno-cleanup-cluster-admission-reports
      namespace: kyverno
    patch: |-
      - op: replace
        path: /spec/jobTemplate/spec/template/spec/containers/0/image
        value: alpine:3.19
      - op: replace
        path: /spec/jobTemplate/spec/template/spec/containers/0/command/2
        value: |
          wget -qO /tmp/kubectl https://dl.k8s.io/release/v1.28.2/bin/linux/amd64/kubectl && \
          chmod +x /tmp/kubectl && \
          export PATH=/tmp:$PATH && \
          COUNT=$(kubectl get clusteradmissionreports.kyverno.io -A | wc -l)
          if [ "$COUNT" -gt 10000 ]; then
            echo "too many reports found ($COUNT), cleaning up..."
            kubectl delete clusteradmissionreports.kyverno.io -A -l='!audit.kyverno.io/report.aggregate'
          else
            echo "($COUNT) reports found, no clean up needed"
          fi
      - op: add
        path: /spec/jobTemplate/spec/template/spec/containers/0/securityContext/runAsUser
        value: 65534
      - op: add
        path: /spec/jobTemplate/spec/template/spec/volumes
        value:
          - name: tmp
            emptyDir: {}
      - op: add
        path: /spec/jobTemplate/spec/template/spec/containers/0/volumeMounts
        value:
          - mountPath: /tmp
            name: tmp
