apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - install.yaml

patches:
  - target:
      kind: StorageClass
      name: local-path
    patch: |-
      - op: replace
        path: /metadata/annotations
        value:
          storageclass.kubernetes.io/is-default-class: "true"
  - target:
      kind: Namespace
      name: local-path-storage
    patch: |-
      - op: add
        path: /metadata/labels
        value:
          pod-security.kubernetes.io/enforce: privileged
          pod-security.kubernetes.io/audit: privileged
          pod-security.kubernetes.io/warn: privileged
